<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

     <!--google font -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
     <!-- End of google font -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>User profile page</title>
    <link rel="stylesheet" href="/assets/css/Client-dahboard.css">
</head>
<body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lfas fa-user-check">Hilton Parker</span></h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="#" class="active"><span><i class="fas fa-user-check"></i></span> <span>Dashboard</span></a>
                </li>

                <li>
                    <a href="#"><span><i class="fas fa-user-check"></i></span> <span>Complete Application</span></a>
                </li>

                <li>
                    <a href="#"><span><i class="fas fa-user-check"></i></span> <span>Make payment</span></a>
                </li>

                <li>
                    <a href="#"><span><i class="fas fa-user-check"></i></span> <span>Contact us</span></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span><i class="fas fa-bars"></i></span>
                </label>
                Dashboard
            </h2>


            <div class="user-wrapper">
                <img src="/assets/images/team4.jpg" width="30px" height="30px" alt="">
                <div>
                    <small>Collins</small>
                </div>
            </div>
        </header>


        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <div><span>Customers</span></div>
                    </div>
                    <div>
                      <span><i class="fas fa-user-check"></i></span>  
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>80</h1>
                        <div><span>Customers</span></div>
                    </div>
                    <div>
                      <span><i class="fas fa-user-check"></i></span>  
                    </div>
                </div>


                <div class="card-single">
                    <div>
                        <h1>80</h1>
                        <div><span>Customers</span></div>
                    </div>
                    <div>
                      <span><i class="fas fa-user-check"></i></span>  
                    </div>
                </div>


                <div class="card-single">
                    <div>
                        <h1>90</h1>
                        <div><span>Customers</span></div>
                    </div>
                    <div>
                      <span><i class="fas fa-user-check"></i></span>  
                    </div>
                </div>
            </div>

            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Recent Projects</h3>
                            <button>See all</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                          <td>Project Title</td>
                                          <td>Department</td>  
                                          <td>Status</td>    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>UI/UX design</td>
                                            <td>UI Team</td>
                                            <td>
                                                <span class="status green"></span>
                                                completed
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Web development</td>
                                            <td>Frontend</td>
                                            <td>
                                                <span class="status orange"></span>
                                                in progress
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>Web development</td>
                                            <td>Frontend</td>
                                            <td>
                                                <span class="status orange"></span>
                                                in progress
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td>Ushop app</td>
                                            <td>UI Team</td>
                                            <td>
                                                <span class="status orange"></span>
                                                pending
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Web development</td>
                                            <td>Frontend</td>
                                            <td>
                                                <span class="status pink"></span>
                                                in progress
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td>Ushop app</td>
                                            <td>UI Team</td>
                                            <td>
                                                <span class="status orange"></span>
                                                pending
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h4>Customer Relation Team</h4>
                        </div>
                        <div class="card-body">
                            <div class="card-body">
                                <div class="customer">
                                    <div class="info">
                                        <img src="/assets/images/team3.jpg" width="40px"
                                        height="40px"  alt="">
                                        <div>
                                            <h4>lewiss staord</h4>
                                            <small>CEO of Remix</small>
                                        </div>
                                   </div>
                                   <div class="contact">
                                       <span><i class="fas fa-phone"></i></span>
                                   </div>
                                </div>

                                <div class="customer">
                                    <div class="info">
                                        <img src="/assets/images/team3.jpg" width="40px"
                                        height="40px"  alt="">
                                        <div>
                                            <h4>lewiss staord</h4>
                                            <small>CEO of Remix</small>
                                        </div>
                                   </div>
                                   <div class="contact">
                                       <span><i class="fas fa-phone"></i></span>
                                   </div>
                                </div>

                                <div class="customer">
                                    <div class="info">
                                        <img src="/assets/images/team3.jpg" width="40px"
                                        height="40px"  alt="">
                                        <div>
                                            <h4>lewiss staord</h4>
                                            <small>CEO of Remix</small>
                                        </div>
                                   </div>
                                   <div class="contact">
                                       <span><i class="fas fa-phone"></i></span>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>