<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Hilton parker</title>

      <!-- external links -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <!--end of external links -->

      <!--google font -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <!-- End of google font -->
      

      <link rel="stylesheet" href="/css/index.css">
 
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

   </head>
   <body>
    <div class="wrapper">
      <header>
        <nav>
          <div class="menu-container">
            <div class="menu-icon">
               <i class="fa fa-bars fa-2x"></i>
            </div>
            <div id="" class="logo">
               <img style="width:40%" src="images/logo.png">
            </div>
            <div class="menu">
               <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#get">Get a Visa</a></li>
                  <li><a href="#packages">Packages</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a href="/user/login">Login</a></li>
               </ul>
              </div>
          </div>
        </nav>
         <!-- header background layer -->
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-12">
            </div>
            <div class="col-sm-6 col-12">
              <div class="bg-content">
                <div>
                  <div style="text-align:right" class="content-line">Quick & easy<br> Education for anyone</div>
                </div>
                
                <div class="contact-form">
                  <div>
                    <div class="application">Start Application</div>
                  </div>
                  <form method="post" action="/landingform/agent">
                    <div class="row">
                      <div class="form-container">
                        <div class="form-1">
                          <div class="form-group FG-1">
                            <input type="text" name="firstname" class="form-control mt-3" placeholder="First Name" value="" required/>
                          </div>
                          <div class="form-group FG-1">
                              <input type="text" name="lastname" class="form-control mt-3" placeholder="last Name" value="" required />
                          </div>
                        </div>

                        <div class="form-1">
                          <div class="form-group FG-1">
                            <input type="text" name="email" class="form-control mt-3" placeholder="Email Address" value="" required />
                          </div>

                          <div class="form-group FG-1">
                            <input type="text" name="phonenumber" class="form-control mt-3" placeholder="Phone Number" value="" required />
                          </div>
                        </div>
                      </div>
                      <div class="my-btn d-flex">
                        <button type="submit" class="btn btn-warning my-btn" type="button">Apply Now</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <div style="position:absolute; top:50%;">
                <% if (message) { %>
        
                  <% for (var key in message) { %>
                    <!-- alert message -->
                    <div class="alert alert-<%= key%> alert-dismissible fade show alert-box" role="alert">
                        <strong class="text-right"><%= message[key] %>!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
            <% } %>
              </div>
            </div>
          </div>
        
        </div>
        
      </header>

   
      <!-- MODAL SESSION -->
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div>
            <span style="font-size:2rem; color:red" class="close">&times;</span>
          </div>
          <h2 style="margin: 30px 0 30px;">Welcome back</h2>
          <p style="font-size:1.5rem; text-align: center;">Will you like to continue ?</p>
          <div style=" text-align: center;">
            <div>
              <a class="btn btn-lg" style="background-color:#f69617; color:#fff" href="#" role="button">Yes</a>
              <a class="btn btn-lg cancel" style="background-color:red; color:#fff; margin-left:20px" href="#" role="button">Cancel</a>
            </div>
          </div>
        </div>

      </div>

      <div style="color:white" class="id-line" style="margin:5%" id="get">
        <hr>
      </div>

      <!-- What we offer session -->
      <div class="content">
        <!--Home card 2-->
        <div class="m-container" >
          <div class="card-head">We offer a broad range of services to our clients that want to study work in Canada</div>
          <section class="home-cards">
            <div>
              <img src="images/loans2-.png">
                <h5>Flexible tuition fee payment plans</h5>
                <p>
                  Our partner institutions offer our students a variety of payment plans
                  that are flexible enough achieve; especially with those on budget.
                </p>
            </div>
  
            <div>
              <img src="images/loans1.png">
                <h5>Guaranteed work permit after visa is approved</h5>
                <p>
                  Our students are guaranteed work permit after a successful visa
                  application upon arrival in canada.
                </p>
            </div>

            <div>
                <img src="images/loans3-icon3.png">
                <h5>Accommodation support And soft-landing support arrival in Canada</h5>
                <p>
                  We have on-ground associates ready to receive our students upon arrival in Canada.
                  There is also a soft landing accommodation plan for our student.
                </p>
            </div> 
          </section>
        </div>
      </div>
   </div>


    <!-- hr -->
      <div class="hr-line" id="packages">
        <div class="line"><hr></div>
      </div>
    <!-- end of hr -->



   <!--programs and minimum age session -->
   <div>
    <div style="margin-top:0%" class="m-container">
      <div class="row">
        <div class="col-md-6 grad-img">
          <img src="images/loans3-lady2.png">
        </div>
        <div class="col-md-6">
          <div>
            <div class="grad-header">OUR PROGRAMS WITH MINIMUM AGE REQUIREMENT</div>
          </div>

          <div class="list-container">
            <div class="item-list">
              <div  class="list-1">Secondary (High School)</div>
              <div  class="list-2">Age(11 - 16 years)</div>
            </div>

            <div  style="margin-top:40px" class="item-list">
              <div class="list-1">Undergraduate Programs</div>
              <div  class="list-2">Age(15 - 35years)</div>
            </div>

            <div style="margin-top:40px" class="item-list">
              <div class="list-1">Post-graduate Programs</div>
              <div  class="list-2">Age(25 - 45years)</div>
            </div>
          </div>

        </div>
      </div>
   </div>

    <div class="hr-line">
      <div class="line"><hr></div>
    </div>


   <!-- reduced service charge session -->

        <div style="margin-top:5%" class="m-container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="grad-header">Hilton paker offers reduced rate on admission process fee.</div>
              </div>
    
              <div class="offer-container">
               <div class="off-txt"><b>Hilton Parker Services</b> does not charge administrative fees until student's visa application is successful.
                  <b>In the case of a refusal, Hilton parker will not charge the client for work done</b>. However, if the client would like to seek a 
                  reapplication, they would have to pay the embassy's reapplication fee
                </div>
              </div>


              <div class="file-container d-flex ">
                <div class="off-logo"><i class="far fa-file-pdf"></i></div>
                <div class="ct">
                  <div><a href="">View Full requirement List</a></div>
                  <div>PDF 2.4MB</div>
                </div>
              </div>
            </div>

            <div class="col-md-6 grad-img">
              <img src="images/loans3-lady-2.png">
            </div>
          </div>
       </div>

       <div class="hr-line">
         <div class="line"><hr></div>
       </div>

      <!-- Visa requirements -->
      <div class="container-fluid">
        <div class="m-container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="mission-header">Visa Requirements</div>
  
                <div>
                  <div class="mission-txt">
                    Study visa applicants would also need to submit their academic documents i.e the documents
                    used in securing their admission offer( Certificates, transcripts, supporting documents).

                    <div>*<b>Passport Photograph (white Background)</b></div>
                    <div>*<b>International Passport Data Page</b></div>
                    <div>*
                      <b>
                      Travel history (if applicable) - Applicants can provide previous visa stamps
                      to support their application if they have
                      </b> 
                    </div>
                  </div>
                </div>
  
                <div>
                  <div class="mission-txt-2">
                    Hilton Parker Services employs the services of its verification associates
                    to confirm the authenticity of applicants' documents before certifying them
                    at the notary public prior to submission.
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-6">
              <div>
                <div class="mission-header">Our Partner Schools</div>
  
                <div>
                  <div class="mission-txt">
                    We do not restrict clients' to a particular school. However we are affiliated to <b>over 40 Schools Canada</b>
                  </div>
                </div>
  
                <div>
                  <div class="mission-txt-2">A client may request that his/her application be processed to a particular school
                     they prefer; <b>Hilton Parker Services obliges </b>them so long as they are  ready to meet the school's
                     requirements.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Testimonial session -->

      <!-- testimonial session -->
      <div style="margin-top:8%" class="container testimony col-center">
        <h2>Testimonials</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-box"><img src="images/team3.jpg" alt=""></div>
              <p class="testimonial" style="line-height: 45px;">I got to know about Hilton parker from my uncle, working with hilton parker was an incredible with 
                less stress and there was no issue in any part of the process, when it was approve, i was beyond happy. I will recommend hilton parker to my 
                family and friends to get visa because they are incredible and the best visa plug. 
              </p>
              <p class="overview"><b>Tolani steffy</b></p>
            </div>
            <div class="carousel-item">
              <div class="img-box"><img src="images/team1.jpg" alt=""></div>
                  <p class="testimonial" style="line-height: 45px;">I got to know about Hilton parker through a family friend of mine, I was so happy when i was given my visa and 
                    i have been recommending hilton parker to my family and friends, Hilton parker is very reliable and everything is easy. i really
                  appreciate you guys because i got what i am looking for. </p>
                  <p class="overview"><b>Bunmi</b></p>
            </div>
            <div class="carousel-item">
              <div class="img-box"><img src="images/team4.jpg" alt=""></div>
              <p class="testimonial" style="line-height: 45px;">I got to know about Hilton parker through my cousin that went through this process, this is my first time of applying 
                and i am grateful i got it and  i am happy and i am ready to recommend hilton parker to anyone sofar the person is ready to follow the due process
                and follow the advice of Hilton parker. I will say thank you to Hilton parker  for a job well done
              </p>
              <p class="overview"><b>Fred</b></p>
            </div>
          </div>
        </div>
      </div>


          <!-- testimonial session -->


      <!-- Apply session -->

        <div class="apply-container">
          <div class="apply">
            <div class="cover-container">
              <div class="apply-text">Quick & easy<br> education for all</div>
              <div class="btn-container">
                <div class="apply-btn"><a style="text-decoration: none; color: white; " href="/">Apply</a></div>
              </div>
            </div>
          </div>
        </div>
      <!-- end of apply session -->


      <!-- contact session -->
      <div class="m-container">
        <div class="contact" id="contact">
          <div><img src="images/footer-icon.png"></div>
          <div class="number">+234 700 4449 444</div>
          <div class="contact-details">
            <b>Hilton parker service in an International Educational consultancy firm.</b> We provide top class Admission processing services to our clients
             that are willing to work and study in Canada.
          </div>

          <div class="contact-details-2">
            <h4 style="font-weight: 600; padding-bottom: 10px;">Our Vision</h4>
            Our Vision is to raise FUTURE LEADERS through an exceptional Global education.
          </div>

          <div class="contact-details-2">
            <h4 style="font-weight: 600; padding-bottom: 10px;">Our Mission</h4>
            Our mission is to be a renowned organization that will support young scholars to excel in their respective academic pursuit abroad
          </div>
        </div>
      </div>
      <!-- end of contact session -->

      <div class="copyright text-center text-white py-2">
        <p class="font-rale reserved">&copy; Copyrights 2021 Hilton parker. All Rights Reserved</p>
      </div>  

      <script src="/javascript/index.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
   </body>
</html>