<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

 <!-- font-awesome icon -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Hilton Parker</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <style>

    body{
      background-color: #f69617;
    }
      .navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  /* margin-left: 10px; */
}
.fa-bars {
  color: wheat;
  font-size: 30px;
}

/* .nav-shadow{
    box-shadow: 0px 1.5px #dfdddd;
} */


.text-responsive {
  font-size: calc(250% + 1vw + 1vh);
}
.hero-text{
    font-family: 'Bree Serif', serif;
    /* color: #1b212c; */
    /* text-align: left; */
} 

.top_marging{
  margin-top: 4%;
}
.head-pad{
    background-color: #f69617;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    /* margin-top: 4%; */
    padding-bottom: 5%;
    /* padding: 5%; */
    /* height: 90vh; */
    /* min-height: 90vh; */
}

.head-pad2{
    padding-right: 10%;
}

hr{
    width: 70%;
    /* text-align: center; */
    color: #f69617;
    margin: 50px 0px;
}

@media only screen and (max-width: 600px) {
  .logo{
    width: 120px;
    height: 35px;
    margin-top: 10px;
  }
    .top-image{
      display: none;
      visibility: hidden;
    }
    .text-responsive {
        text-align: center;
        font-size: calc(200% + 1vw + 1vh);
}
.text-2{
    /* text-align: center; */
    font-size: calc(50% + 1vw + 1vh);
}
    
}
.bg-primary{
    background-color: #f69617 !important;
}


.text-primary{
    color: #f69617 !important;
}

input[type=text] {
  border: 1px solid #f69617;
}

input[type=email] {
  border: 2px solid #f69617;
}

textarea{
  border: 1px solid #f69617;
}

.font{
  font-family: 'Montserrat', sans-serif;
}
.apply:hover{
  background-color: #f69617;
}
  </style>
  <body>

   

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height: 90vh;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Start your application</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="/landingform">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                      <input type="text" name="firstname" class="form-control mt-3" placeholder="First Name" value="" required/>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="lastname" class="form-control mt-3" placeholder="Last Name" value="" required/>
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="email" class="form-control mt-3" placeholder="Email Address" value="" required />
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="phonenumber" class="form-control mt-3" placeholder="Phone Number" value="" required />
                    </div>
                    <div class="col-md-6">
                        <!-- <input type="button" value="Submit" class="btn btn-info form-control mt-3 w-50"> -->
                    </div>
                </div>
                </div>
             
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-warning">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </div>
      <div class="container-fluid nav-shadow bg-" >
        <nav class="navbar sticky-top navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand text-dark" href="#">
                <img src="./images/HPS LOG.png" alt="" width="145" height="45" class="d-inline-block align-text-top logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fas fa-bars"></i>
          </button>
        
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                 
                  <li class="nav-item">
                    <a class="nav-link text-light" style="margin: 0px 20px;" href="#about">About</a>
                    <li class="nav-item">
                      <a class="nav-link text-light" style="margin: 0px 20px;"  href="#benefits">Benefits</a>
                      <li class="nav-item">
                        <a class="nav-link text-light" style="margin: 0px 20px;"  href="#contact">Contact</a>
                        <li class="nav-item">
                          <a class="nav-link text-light" style="margin: 0px 20px;"  style="text-decoration: underline;" href="/user/login">sign In</a>
                          <li class="nav-item">
                            <a class="nav-link text-light btn btn-outline-light apply" data-toggle="modal" data-target="#exampleModalCenter" style="margin: 0px 20px;">Apply Now</a>
                        </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>

      

     <div class="container-fluid head-pad top_marging" > 
       <div class="row">
         <div class="col-md-6 col-xs-12">
          <div>
            <% if (message) { %>
            <% for (var key in message) { %>
              <!-- alert message -->
              <div class="alert alert-<%= key%> alert-dismissible fade show alert-box" role="alert">
                  <strong class="text-right"><%= message[key] %>!</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          <% } %>
        <% } %> 
            <h1 class="h1 hero-text text-responsive text-light">International  Studies, <br>
              pay nothing until you land a great job!</h1>
              <p class="mt-5 h5  text-2 text-light" style="font-family: 'Montserrat',sans-serif; line-height: 35px;">
                  Hilton Parker Finances your International Education, so you can focus on learning.
                      The best part? You don’t pay back a cent until you land a great job.</p>
                      <button class="btn btn-lg btn-outline-light  col-xs-6 col-md-6 mt-3 mb-3" data-toggle="modal" data-target="#exampleModalCenter">Apply Now</button>
                     <ul style="list-style: none; padding: 0px; line-height: 35px;">
                         <li class="font"><i class="fas fa-check-double text-light" ></i>&nbsp;&nbsp;No English Test or Entrance Exams Needed</li>
                         <li class="font"><i class="fas fa-check-double text-light"></i>&nbsp;&nbsp;Guaranteed Work Permit After Visa is Approved</li>
                         <li class="font"> <i class="fas fa-check-double text-light"></i>&nbsp;&nbsp;Accomodation Support</li>
                     </ul>
              </div>
         </div>
         <!-- <div class="col-md-6 col-xs-12 d-flex justify-content-md-center align-items-center head-pad2 top-image"> -->
           <div class="col-md-6 col-xs-12 d-flex justify-content-md-center">
          <img src="./images/hps.png" alt="" class="img-fluid" width="90%" style="padding-left:50px"> 
      </div>
       </div>
     </div>
     

<div class="container-fluid bg-light">
  <section id="about" class="pt-3">
    <div class="container" >
      <p class="mt-5 h1 hero-text text-2 text-responsive  text-center text-primary">Who we are!</p>
    </div>
  
    <div class="container-fluid head-pad bg-light text-dark">
      <div class="row h-100">

        <div class="col-md-6 d-flex justify-content-md-center align-items-center head-pad2">
          <img src="./images/ill-one.png" alt="" class="img-fluid" width="100%"> 
      </div>


            <div class="col-md-6 d-flex justify-content-md-center align-items-center ">
                <div>
                  <!-- <p class="h2 hero-text text-primary">Apply Online in less than 5 Minutes</p> -->
                    <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;" > Hilton Parker services is an International Educational consultancy firm.</b> We provide top class Admission processing services to our clients
                      that are willing to work and study in Canada and other International destination.</p>
                        <!-- <p class="h2 hero-text text-primary mt-5">Get accepted and get your terms!</p> -->
                        <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;" ><b>Hilton Parker Services</b> does not charge administrative fees until student's visa application is successful.
                          <b>In the case of a refusal, Hilton Parker services will not charge the client for work done</b>. However, if the client would like to seek a 
                          reapplication, they would have to pay the embassy's reapplication fee</p>
  
                            <p class="h2 hero-text text-primary mt-5">Our Vision</p>
                            <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;">Our Vision is to raise FUTURE LEADERS through an exceptional Global education.</p>

                            <p class="h2 hero-text text-primary mt-5">Our Mission</p>
                            <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;">Our mission is to be a renowned organization that will support young scholars to excel in their respective academic pursuit abroad.</p>
                      
                           
                    </div>
                    
            </div>
  
            
           
      </div>
    </div>  
  </section>

</div>

   <div class="container-fluid bg-light m-0">

    <div class="container-fluid bg-light p5"  id="benefits">
      <p class="  hero-text text-2 text-responsive  text-center text-primary">Just a few of the benefits we offer </p>
      <div class="p-5">
          <div class="row">
              <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-4 ">
                      <img src="./images/1.png" alt="" class="img-fluid">
                    </div>
                <div class="col-md-8  d-flex justify-content-md-center align-items-center" >
                <div>
                  <span class=" h5 hero-text text-2 " style="line-height: 32px;">Flexible tuition fee payment plans</span><br>
                  <span class="font" style="line-height: 32px;">Our partner instituitions offer our students a variety of payment plans that are flexible 
                      enough to achieve
                  </span>
                </div>  
                </div>
              </div>    
            </div>

            <div class="col-md-6">
              <div class="row">
                  <div class="col-md-4 ">
                    <img src="./images/2.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-8  d-flex justify-content-md-center align-items-center" >
                    <div>
                      <span class=" h5 hero-text text-2 ">No service charge until visa approval</span><br>
                      <span class="font">Hilton Parker does not charge administrative fees untill the student's visa application is successful.
                        </span>
                    </div>  
                  </div>
                </div>    
            </div>


          <div class="row">

            <div class="col-md-6">
              <div class="row ">
                  <div class="col-md-4 ">
                    <img src="./images/5.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-8  d-flex justify-content-md-center align-items-center" >
                    <div>
                      <span class="mt-5 h5 hero-text text-2 ">No English test or entrance exams needed</span> <br>
                      <span class="font">Our partner schools already consider Nigerian students English language proficient
                      </span>
                    </div>  
                  </div>
                </div>    
            </div>

            
            <div class="col-md-6">
              <div class="row ">
                  <div class="col-md-4 ">
                    <img src="./images/4.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-8  d-flex justify-content-md-center align-items-center" >
                    <div>
                      <span class="mt-5 h5 hero-text text-2 ">Guaranteed work permit after visa is approved</span> <br>
                  <span class="font" style="line-height: 32px;">Our students are guaranteed work permit after a successful visa application upon arrival in their Country of choice
                  </span>
                    </div>  
                  </div>
                </div>    
            </div>
            
          <div class="row">

            <div class="col-md-6">
              <div class="row ">
                  <div class="col-md-4 ">
                    <img src="./images/3.png" alt="" class="img-fluid">
                  </div>
                  <div class="col-md-8  d-flex justify-content-md-center align-items-center" >
                    <div>
                      <span class="mt-5 h5 hero-text text-2 ">Accommodation support</span> <br>
                      <span class="font">We have on ground associate ready to recieve our studentss upon arrival
                      </span>
                    </div>  
                  </div>
                </div>    
            </div>
             
              <div class="col-md-6">
                  <!-- 1 -->
              </div>
          </div>
      </div>
  </div>

   </div>


  <section class="bg-light">
    <div class="container">
      <p class="mt-5 h1 hero-text text-2 text-responsive  text-center text-primary ">Here's how it works!</p>
    </div>
  
    <div class="container-fluid head-pad bg-light text-dark">
      <div class="row h-100">
            <div class="col-md-6 d-flex justify-content-md-center align-items-center ">
                <div>
                    
                    <p class="h2 hero-text text-primary"> <i class="fas fa-check-circle"></i> &nbsp; &nbsp;Apply Online in less than 5 Minutes</p>
                    <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;"> Our application is fast and simple. 
                        Not sure what career is best for you? Use our live chat feature to chat with a career counselor.</p>
                  
                        <p class="h2 hero-text text-primary mt-5"><i class="fas fa-check-circle"></i> &nbsp; &nbsp; Get accepted and get your terms!</p>
                        <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;"> Our typical acceptance time is 1-2 business days, 
                            but you could be accepted within an hour! 
                            Once you get accepted, our immigration officer would be in touch with you  then
                            you’re ready to start your process.</p>
  
                            <p class="h2 hero-text text-primary mt-5"> <i class="fas fa-check-circle"></i> &nbsp; &nbsp;Get a great education,
                              pay later!</p>
                            <p class="mt-5 h5 hero-text text-2 font" style="line-height: 32px;" > All of our partner schools provide top notch education,
                                and you get work permit on getting admission to enable you earn while you learn.</p>
                      
                           
                    </div>
                    
            </div>
  
            <div class="col-md-6">
              <img src="./images/6.png" alt="" class="img-fluid "> 
          </div>
           
      </div>
    </div>  
  </section>
  </div>

  

</div>

<section>
  <div class="container-fluid bg-primary p-3 ">
    <p class="mt-5 h1 hero-text text-2 text-responsive  text-center text-light">Ready to get started? <br>
        Let’s fund your future! <br>
        <button class="btn btn-lg btn-outline-light col-xs-3 col-md-2 mt-3 mb-3" data-toggle="modal" data-target="#exampleModalCenter">Apply Now</button></p>
        
  </div>
</section>

<div class="container-fluid bg-light text-dark">

  <section class="m-3 bg-light"  id="contact">
    <div class="container">
      <div class="col-12 d-flex justify-content-md-center">
        <div>
          <p class="h2 hero-text text-dark mt-5 text-center">Reach out to us!</p>
          <!-- <p class="mt-5  hero-text text-2 text-responsive  text-center text-primary">Reach out to us</p> -->
        <p class="mt-5 h1 hero-text text-2 text-responsive  text-center text-primary">+234 700 4449 444</p>
    
        <p class="mt-5 h5 hero-text text-2 text-center" > All of our partner schools provide top notch education,
          and you get work permit on getting admission to enable you earn while you learn.</p>

          <form action="/user/contactus" method="POST">
            <div class="container-fluid form-group m-" >
              <input type="text" class="form-control" name="name" placeholder="Your Name"> 
            </div>
            <div class="container-fluid form-group m-" >
              <input type="email" class="form-control" name="email" placeholder="Your Email"> 
            </div>
            <div class="container-fluid form-group m-" >
              <textarea name="message" id="" cols="30" rows="10" class="form-control"> Your Message</textarea>
            </div>
            <div class="container-fluid form-group m-" >
              <button class="btn btn-outline-warning"> Send Message</button>
            </div>
          </form>
        </div>
        
        
      </div>
  </section>

</div>

  


  <div class="container-fluid bg-primary p-5">

    <footer>
        <div class="container-fluid">
            <div class="row" >
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <img src="./images/HPS LOG.png" alt="" width="145" height="45" class="d-inline-block align-text-top logo">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h4 class="text-light">
                        Contact-us
                    </h4>
                    <p class="text-light mt-3" >
                      1 Rahman Adeboyejo St, Lekki Phase I, Lagos
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h4 class="text-light">
                        More
                    </h4>
                    <p class="text-light mt-3" >
                        Resourcs
                    </p>
                    <p class="text-light mt-3" >
                        Privacy Policy
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h4 class="text-light">
                        Updates
                    </h4>
                    <p class="text-light mt-3" >
                        Join our mailing list
                    </p>
                    <p class="text-light mt-3" >
                        Twitter
                    </p>
                    <p class="text-light mt-3" >
                        Facebook
                    </p>
                    <p class="text-light mt-3" >
                        Instagram
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/60a79ed0185beb22b30f701c/1f67c8odl';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>